<mat-card class="exampleCard">

    <mat-grid-list cols="3" rowHeight="30px">
        
        <mat-grid-tile colspan=2>
            <div class="cardTitle">
                <h2>Appliances</h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <mat-icon>microwave</mat-icon>
        </mat-grid-tile>

        <mat-grid-tile colspan=3 rowspan=1>
            <div class="standardHighlight">
                Costs so far today
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="icon">
                <mat-icon [inline]="true">lightbulb</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="iconRed">
                <mat-icon [inline]="true">thumb_down</mat-icon>
                <mat-icon [inline]="true">expand_less</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="standardHighlight">
                £0.00
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="icon">
                <mat-icon [inline]="true">business</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="iconRed">
                <mat-icon [inline]="true">thumb_down</mat-icon>
                <mat-icon [inline]="true">expand_less</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="standardHighlight">
                £0.00
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="icon">
                <mat-icon [inline]="true">microwave</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="iconGreen">
                <mat-icon [inline]="true">thumb_up</mat-icon>
                <mat-icon [inline]="true">expand_more</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="standardHighlight">
                £0.00
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="icon">
                <mat-icon [inline]="true">air</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="iconRed">
                <mat-icon [inline]="true">thumb_down</mat-icon>
                <mat-icon [inline]="true">expand_less</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="standardHighlight">
                £0.00
            </div>
        </mat-grid-tile>

        

    </mat-grid-list>

</mat-card>
