.exampleCard {
    min-width: 380px;
    max-width: 380px;
    min-height: 300px;
    max-height: 300px;
    padding: 30px;
}

.graph {
    height: 120px;
}

.cardTitle {
    position: absolute;
    align-items: flex-start;
}

mat-icon {
    min-height: 40px;
}

img {
    max-height: 98px;
}

.redHighlight {
    color: red;
    position: inherit;
    font-size: 20px;
}

.greenHighlight {
    color: green;
    position: inherit;
    font-size: 40px;
}

.standardHighlight {
    position: inherit;
    font-size: 20px;
}

.subHeading {
    position: inherit;
    font-size: 14px;
    text-transform: uppercase;
}

.icon {
    font-size: 30px;
    color: rgb(68, 68, 68);
}

.iconRed {
    font-size: 20px;
    color: rgb(180, 0, 0);
}

.iconGreen {
    font-size: 20px;
    color: rgb(0, 196, 42);
}