<div class="container">

    <mat-card class="cardContainer">

        <mat-grid-list cols="3" rowHeight="390px" gutterSize="10px">

            <mat-grid-tile>
                <app-example-card></app-example-card>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-mapcard></app-mapcard>
            </mat-grid-tile>

            <mat-grid-tile>
                <app-rating-card></app-rating-card>
            </mat-grid-tile>

        </mat-grid-list>

        <div class="container2">
            <mat-grid-list cols="3" rowHeight="390px" gutterSize="10px">

                <mat-grid-tile>
                    <app-environment-card></app-environment-card>
                </mat-grid-tile>

                <mat-grid-tile>
                    <app-cost-card></app-cost-card>
                </mat-grid-tile>
    
                <mat-grid-tile>
                    <app-carbon-card></app-carbon-card>
                </mat-grid-tile>
    
            </mat-grid-list>
        </div>

    </mat-card>

</div>
