.ratingCard {
    min-width: 380px;
    max-width: 380px;
    min-height: 300px;
    max-height: 300px;
    padding: 30px;
}

.graph {
    height: 120px;
}

.cardTitle {
    position: absolute;
    align-items: flex-start;
}

mat-icon {
    min-height: 40px;
}

img {
    max-height: 98px;
}

.redHighlight {
    color: red;
    position: inherit;
    font-size: 16px;
    font-weight: 500;
}

.greenHighlight {
    color: green;
    position: inherit;
    font-size: 16px;
    font-weight: 500;
}

.standardHighlight {
    position: inherit;
    font-size: 26px;
}

.subHeading {
    position: inherit;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 6px;
}

mat-card{
    background-color: rgb(240, 240, 240);
}

.miniCard {
    max-height: 28px;
    min-width: 140px;
    max-width: 140px;
    background-color: rgb(255, 255, 255);
}

.graphCard {
    max-height: 94px;
    max-width: 180px;
    background-color: rgb(255, 255, 255);
}

.titleCard {
    min-width: 100px;
    max-height: 36px;
    background-color: rgb(240, 240, 240);
}

.up{
    color: green;
    font-size: 40px;
}

.down{
    color: red;
    font-size: 40px;
}

.mat-grid-tile.custom-card {
    left: 0px;
    width: calc((50% - 0.5px) * 1 + 0px) !important;
    top: calc(180px) !important;
    height: calc(68px) !important;
}

.mat-grid-tile.custom-card-below {
    left: 0px;
    width: calc((50% - 0.5px) * 1 + 0px) !important;
    top: calc(248px) !important;
    height: calc(68px) !important;
}