<mat-card class="ratingCard">
    <mat-grid-list cols="2" rowHeight="28px">
        <mat-grid-tile colspan=1 rowspan=2>
            <h2>Comparison</h2>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <img src="assets/img/compare.svg" height="30px">
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=4>
            <app-dialtest [data]="month_power" *ngIf="month_power"></app-dialtest>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2 class="custom-card">
            <mat-card class="miniCard">
                <div class="redHighlight"> {{ week_power}}kWh</div>
                
                <div class="subHeading">This week</div>
            </mat-card>
        </mat-grid-tile>

         <mat-grid-tile colspan=1 rowspan=2 class="custom-card">
            <mat-card class="miniCard">
                <div class="redHighlight">{{last_week_power}}kWh</div>
                
                <div class="subHeading">Last year this week</div>
            </mat-card>
        </mat-grid-tile>

         <mat-grid-tile colspan=1 rowspan=2 class="custom-card-below">
            <mat-card class="miniCard">
                <div class="greenHighlight">{{month_power}}kWh</div>
                
                <div class="subHeading">This month</div>
            </mat-card>
        </mat-grid-tile>

         <mat-grid-tile colspan=1 rowspan=2 class="custom-card-below">
            <mat-card class="miniCard">
                <div class="greenHighlight">{{last_month_power}}kWh</div>
                
                <div class="subHeading">This month of last year</div>
            </mat-card>
        </mat-grid-tile>
        <!-- <mat-grid-tile rowspan=2>
            <mat-card class="miniCard">
                <div class="greenHighlight">
                    5.6 kWh
                </div>
                <div class="subHeading">This weeks consumption</div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan=2>
            <mat-card class="miniCard">
                <div class="redHighlight">
                    6.2 kWh
                </div>
                <div class="subHeading">Consumption this week last year</div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan=2>
            <mat-card class="miniCard">
                <div class="greenHighlight">
                    5.6 kWh
                </div>
                <div class="subHeading">This weeks consumption</div>
            </mat-card>
        </mat-grid-tile>
        
        <mat-grid-tile rowspan=2>
            <mat-card class="miniCard">
                <div class="redHighlight">
                    6.2 kWh
                </div>
                <div class="subHeading">Consumption this week last year</div>
            </mat-card>
        </mat-grid-tile> -->
    </mat-grid-list>

</mat-card>
