<div class="container">
    <mat-card>
    <mat-grid-list cols=5 rowHeight="24px">
        <mat-grid-tile colspan=1 rowspan=3>
            <div class="heading">
                    What is my cost?
            </div>&nbsp;&nbsp;&nbsp;
            <div class="vl"> </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="greenHeading">£115.7</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="greenHeading">£78.83</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">£115.43</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">£17 (10.43%)</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">Last Month</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">So far this month</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">Predicted this month</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">Projected savings this month</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=24>

            Time scope and filtering options here<br>
            Time scope and filtering options here<br>
            Time scope and filtering options here<br>
            Time scope and filtering options here

        </mat-grid-tile>

        <mat-grid-tile colspan=4 rowspan=24>
            <mat-card>
                <div class="chart">
                    <img class="graph" src="assets/img/cost.PNG">
                </div>
            </mat-card>
            
        </mat-grid-tile>


    </mat-grid-list>
</mat-card>
</div>