<div class="container">
    <mat-card>
    <mat-grid-list cols=5 rowHeight="24px">
        <mat-grid-tile colspan=1 rowspan=3>
            <div class="heading">
                    My ratings
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="standardHeading">44.30 kWh</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="redHeading">51.46 kWh</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="redHeading">20%</div>
            <div class="icon"><mat-icon>expand_less</mat-icon></div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="standardHeading">41.36 kWh</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">Expected Usage</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">Actual Usage</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">Difference from expected</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">Neighborhood average</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=3 rowspan=3>
            <mat-card>
                Scope selctor here
            </mat-card>
            
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=3>
            <mat-card>
                Area selector here
            </mat-card>
            
        </mat-grid-tile>

        <mat-grid-tile colspan=3 rowspan=24>
            <mat-card>
                <div class="chart">
                    <img class="graph" src="assets/img/hood.PNG">
                </div>
            </mat-card>
            
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=24>
            <mat-card>
                <div class="chart">
                    <img class="max" src="assets/img/max.PNG">
                </div>
            </mat-card>
            
        </mat-grid-tile>


    </mat-grid-list>
</mat-card>
</div>