<div class="container">
    <mat-card>
    <mat-grid-list cols=12 rowHeight="26px">
        <mat-grid-tile colspan=4 rowspan=4>
                <mat-card class="titlecard">
                    Comparison
                </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=4>
            <mat-card class="tabcardtest">
                <mat-card-title-group>
                    <div class="cardTitle">44.30 kWh</div>
                </mat-card-title-group>
                <mat-card-content class="tabcardtest_content">
                    Expected Usage
                </mat-card-content>
                
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=4>
            <mat-card class="tabcardtest">
                <mat-card-title-group>
                    <div class="cardTitle">51.46 kWh</div>
                </mat-card-title-group>
                <mat-card-content class="tabcardtest_content">
                    Actual Usage
                </mat-card-content>
                
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=4>
            <mat-card class="tabcardtest">
                <mat-card-title-group>
                    <div class="cardTitle">20%<mat-icon [inline]="true">expand_less</mat-icon></div>
                </mat-card-title-group>
                <mat-card-content class="tabcardtest_content">
                    Difference from expected
                </mat-card-content>
                
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=4>
            <mat-card class="tabcardtest">
                <mat-card-title-group>
                    <div class="cardTitle">44.30 kWh</div>
                </mat-card-title-group>
                <mat-card-content class="tabcardtest_content">
                    Average across all sites
                </mat-card-content>
                
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=10 rowspan=26>
            <mat-card>
                <fusioncharts
                width="1400"
                height="600"
                [type]="type"
                [dataFormat]="dataFormat"
                [dataSource]="dataSource"
                >
                </fusioncharts>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=6>
            <mat-card class="datepicker">
               The date picker will be here 
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=18>
            <mat-card class="rankingBoard">
                This area will house scope filtering options for; costs, power usage, sites shown and more. 
            </mat-card>
            
        </mat-grid-tile>


    </mat-grid-list>
</mat-card>
</div>