<div class="container">
    <mat-card>
    <mat-grid-list cols=12 rowHeight="26px">
        <mat-grid-tile colspan=4 rowspan=4>
                <mat-card class="titlecard">
                    Comparison
                </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=4>
            <mat-card class="tabcardtest">
                <mat-card-title-group>
                    <div class="cardTitle">{{totalLastMonth}}kWh</div>
                </mat-card-title-group>
                <mat-card-content class="tabcardtest_content">
                    Last Month
                </mat-card-content>
                
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=4>
            <mat-card class="tabcardtest">
                <mat-card-title-group>
                    <div class="cardTitle">{{totalSoFarThisMonth}}kWh</div>
                </mat-card-title-group>
                <mat-card-content class="tabcardtest_content">
                    So far this month
                </mat-card-content>
                
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=4>
            <mat-card class="tabcardtest">
                <mat-card-title-group>
                    <div class="cardTitle">{{totalProjectThisMonth}} kWh</div>
                </mat-card-title-group>
                <mat-card-content class="tabcardtest_content">
                    Projected this month
                </mat-card-content>
                
            </mat-card>
        </mat-grid-tile>

        <!-- <mat-grid-tile colspan=2 rowspan=6>
            <mat-card class="datepicker">
               The date picker will be here 
            </mat-card>
        </mat-grid-tile> -->
    </mat-grid-list>
    <mat-grid-list cols=12 rowHeight="24px">
        <mat-grid-tile colspan=12 rowspan=26>
            <mat-card style="padding: 15px;">
                <fusioncharts
                width="1200"
                height="600"
                [type]="type"
                [dataFormat]="dataFormat"
                [dataSource]="dataSource"
                >
                </fusioncharts>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
</div>