.container {
    padding: 10px;
}

.greenHeading {
    font-size: 22px;
    color: rgb(0, 160, 35)
}

.redHeading {
    font-size: 22px;
    color: rgb(187, 1, 1)
}

.standardHeading {
    font-size: 22px;
}

.subHeading {
    font-size: 18px;
}

.graph {
    min-height: 500px;
}

.heading {
    font-size: 36px;
    text-decoration: underline;
}

.vl {
    border-left: 2px solid grey;
    height: 50px;
  }

.icon {
    color: rgb(255, 166, 0);
}

.max {
    min-height: 360px;
}

.tabcards {
    max-height: 12px;
}

.sensor-1,.sensor-2,.sensor-3,.sensor-4,.sensor-5,.sensor-6,.sensor-7,.sensor-8,.sensor-9,.sensor-10,
.sensor-11,.sensor-12,.sensor-13,.sensor-14,.sensor-15,.sensor-16,.sensor-17,.sensor-18,.sensor-19,.sensor-0{
    position: absolute;
    cursor: pointer;
}

.sensor-0 {
    width: 60px;
    top: 7.4%;
    left: 24%;
}

.sensor-1 {
    width: 60px;
    top: 7.4%;
    left: 35%;
}

.sensor-2 {
    width: 60px;
    top: 7.4%;
    left: 45.8%;
}

.sensor-3 {
    width: 60px;
    top: 7.4%;
    left: 56%;
}

.sensor-4 {
    width: 60px;
    top: 12.4%;
    right: 27%;
}

.sensor-5 {
    width: 60px;
    top: 7.4%;
    right: 6%;
}

.sensor-6 {
    width: 60px;
    top: 41.4%;
    left: 22.4%;
}

.sensor-7 {
    width: 60px;
    top: 41.4%;
    left: 34%;
}

.sensor-8 {
    width: 60px;
    top: 41.4%;
    right: 49%;
}

.sensor-19 {
    width: 60px;
    right: 34.4%;
    bottom: 45%;;
}

.sensor-9 {
    width: 60px;
    left: 4.4%;
    bottom: 11.8%;
}

.sensor-10 {
    width: 60px;
    left: 11%;
    bottom: 11.8%;
}

.sensor-11 {
    width: 60px;
    left: 18%;
    bottom: 11.8%;
}

.sensor-12 {
    width: 60px;
    left: 38.4%;
    bottom: 11.8%;
}

.sensor-13 {
    width: 60px;
    right: 40.8%;
    bottom: 11.8%;
}

.sensor-14 {
    width: 60px;
    right: 37.4%;
    bottom: 11.8%;
}

.sensor-15 {
    width: 60px;
    right: 18%;
    bottom: 14%;
}

.sensor-16 {
    width: 60px;
    right: 15.2%;
    bottom: 11.8%;
}

.sensor-17 {
    width: 60px;
    left: 28%;
    bottom: 11.8%;
}

.sensor-18 {
    width: 60px;
    right: 3%;
    bottom: 15%;;
}

.example-tooltip-red {
  background: #b71c1c !important;
  width: 300px;
  height: 150px;
  font-size: 16px !important;
  color: black !important;
  padding: 15px 10px !important;
  white-space: pre-line  !important;
  line-height: 1.8 !important;
  background-image: url("../../../assets/img/floorplanback.png") !important;
}