<mat-card class="exampleCard">

    <mat-grid-list cols="3" rowHeight="32px">
        
        <mat-grid-tile colspan=2>
            <div class="cardTitle">
                <h2>Carbon Footprint</h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="cardTitle">
                <mat-icon>park</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan="2">
            <div class="standardHighlight">
                Equivelent to driving a standard petrol car for 
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan="5">
            <div class="icon">
                <mat-icon inline="[true]">airport_shuttle</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan="2">
            <mat-card class="miniCard">
                <div class="greenHighlight">
                    2.6 Miles 
                </div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan="1">
            <div class="standardHighlight">
                So far this month. 
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan="2">
            <mat-card class="miniCard">
                <div class="greenHighlight">
                    0.0Kg
                </div>
            </mat-card>  
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan="2">
            <mat-card class="miniCard">
                <div class="greenHighlight">
                    0.0Kg
                </div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan="1">
            <div class="standardHighlight">
                c02 today 
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan="1">
            <div class="standardHighlight">
                c02 this week 
            </div>
        </mat-grid-tile>
        

    </mat-grid-list>

</mat-card>
