<div class="pagecontainer">
  <div class="tabContainer">

    <mat-tab-group headerPosition="above" [selectedIndex]="1">
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <img class="phoneticaLogo" src="assets/img/phoneticaLogo.png" alt="NA">
        </ng-template>
        Deadpage
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="hover">
            <div class="icon">
              <mat-icon>grid_view</mat-icon>
            </div>
              &nbsp;&nbsp;Home
          </div>
        </ng-template>
        <app-hometab></app-hometab>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="hover">
            <div class="icon">
              <mat-icon>bolt</mat-icon>
            </div>
              &nbsp;&nbsp;Power Now
          </div>
        </ng-template>
        <app-powertab></app-powertab>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="hover">
            <div class="icon">
              <mat-icon>euro</mat-icon>
            </div>
              &nbsp;&nbsp;Cost
          </div>
        </ng-template>
        <app-costtab></app-costtab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="hover">
            <div class="icon">
              <mat-icon>compare_arrows</mat-icon>
            </div>
              &nbsp;&nbsp;Comparison
          </div>
        </ng-template>
        <app-comparetab></app-comparetab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="hover">
            <div class="icon">
              <mat-icon>thermostat</mat-icon>
            </div>
              &nbsp;&nbsp;Environment
          </div>
        </ng-template>
        <app-environmenttab></app-environmenttab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="hover">
            <div class="icon">
              <mat-icon>kitchen</mat-icon>
            </div>
              &nbsp;&nbsp;Appliances
          </div>
        </ng-template>
        <app-appliancestab></app-appliancestab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="hover">
            <div class="icon">
              <mat-icon>filter_drama</mat-icon>
            </div>
              &nbsp;&nbsp;Carbon Footprint
          </div>
        </ng-template>
    
        Content 3
      </mat-tab>
    </mat-tab-group>

  </div>
</div>