<div class="pagecontainer">
  <div class="tabContainer">

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <img class="phoneticaLogo" src="assets/img/phoneticaLogo.png" alt="NA">
        </ng-template>
        <app-hometab></app-hometab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="icon">
            <mat-icon [inline]="true" class="example-tab-icon">grid_view</mat-icon>
          </div>Home
        </ng-template>
        <app-hometab></app-hometab>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="icon">
            <mat-icon [inline]="true" class="example-tab-icon">bolt</mat-icon>
          </div>Power now
        </ng-template>
        <app-powertab></app-powertab>
      </mat-tab>
    
      <mat-tab>
        <ng-template mat-tab-label>
          <div class="icon">
            <mat-icon [inline]="true" class="example-tab-icon">euro</mat-icon>
          </div>Cost
        </ng-template>
    
        <app-costtab></app-costtab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="icon">
            <mat-icon [inline]="true" class="example-tab-icon">compare_arrows</mat-icon>
          </div>Comparison
        </ng-template>
    
        <app-comparetab></app-comparetab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div class="icon">
            <mat-icon [inline]="true" class="example-tab-icon">thermostat</mat-icon>
          </div>Environment
        </ng-template>
    
        <app-environmenttab></app-environmenttab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">kitchen</mat-icon>
          Appliances
        </ng-template>
    
        <app-appliancestab></app-appliancestab>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">filter_drama</mat-icon>
          Carbon Footprint
        </ng-template>
    
        Content 3
      </mat-tab>
    </mat-tab-group>

  </div>
</div>