
.pagecontainer {
    background-color: rgb(250, 250, 250);
    min-height: 980px;
}

.tabContainer {
    padding: 20px;
    text-align: center;
    margin-right: 2px;
    margin-left: 2px;
}

.phoneticaLogo {
    max-width: 90px;
}

.example-tab-icon {
    margin-right: 8px;
  }

.icon{
    font-size: 40px;
}

.hover{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hover:hover{
    text-shadow: 3px 3px 5px rgba(184, 184, 184, 0.404);
    color:rgb(0, 0, 0);
}