<div class="container">
    <mat-card>
    <mat-grid-list cols=8 rowHeight="24px">
        <mat-grid-tile colspan=8 rowspan=3>
            <div class="heading">
                <mat-card>
                    Appliances
                </mat-card>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=3>
            <div class="subHeading"><mat-card>In Use now</mat-card></div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">
                <mat-icon>
                    lightbulb
                </mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">
                <mat-icon>
                    microwave
                </mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">
                <mat-icon>
                    blender
                </mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">
                <mat-icon>
                    kitchen
                </mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="subHeading">
                <mat-icon>
                    coffee_maker
                </mat-icon>
            </div>
        </mat-grid-tile>


        <mat-grid-tile colspan=4 rowspan=24>

            <mat-card>
                <div class="chart">
                    <img class="graph" src="assets/img/appliance.PNG">
                </div>
            </mat-card>
            
        </mat-grid-tile>




    </mat-grid-list>
</mat-card>
</div>