<div class="container">
    <mat-card>
    <mat-grid-list cols=3 rowHeight="30px">
        <mat-grid-tile colspan=1 rowspan=3>
            <div class="heading">
                    Real time power draw
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="greenHeading">0.89 kWh</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <div class="greenHeading">4.02 kWh</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">Current draw</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">Amount of power used today</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=3 rowspan=20>
            <mat-card>
                <div class="chart">
                    <img class="graph" src="assets/img/powerChart.PNG">
                </div>
            </mat-card>
            
        </mat-grid-tile>


    </mat-grid-list>
</mat-card>

</div>
