.container {
    padding: 10px;
}

.greenHeading {
    font-size: 22px;
    color: rgb(0, 160, 35)
}

.subHeading {
    font-size: 18px;
}

.graph {
    min-height: 500px;
}

.heading {
    font-size: 36px;
    text-decoration: underline;
}

.frameContainer{
    padding: 10px;
}

.chart-card {
    min-width: 1000px;
    min-height: 600px;
}