<mat-card class="costCard">

    <mat-grid-list cols="2" rowHeight="32px">
        
        <mat-grid-tile colspan=1>
            <div class="cardTitle">
                <h2>Whats My cost?</h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <img src="assets/img/compare.svg" height="32px">
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=4>

            <div class="redHighlight">£0.00</div>
            
            <div class="subHeading"><br> <br> <br> Electricity cost today </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=4>
            <img class="graph" src="assets/img/dialCropped.PNG">
        </mat-grid-tile>

        <mat-grid-tile rowspan=1>
            <div class="standardHighlight">£0.00</div>
        </mat-grid-tile>

        <mat-grid-tile rowspan=1>
            <div class="standardHighlight">£0.00</div>
        </mat-grid-tile>

        <mat-grid-tile rowspan=1>
            <div class="subHeading">Electricity so far this month</div>
        </mat-grid-tile>

        <mat-grid-tile rowspan=1>
            <div class="subHeading">Water costs so far this month</div>
        </mat-grid-tile>

        <mat-grid-tile rowspan=1>
            <div class="standardHighlight">£0.00</div>
        </mat-grid-tile>

        <mat-grid-tile rowspan=1>
            <div class="standardHighlight">£0.00</div>
        </mat-grid-tile>

        <mat-grid-tile rowspan=1>
            <div class="subHeading">Solar revenue so far this month</div>
        </mat-grid-tile>

        <mat-grid-tile rowspan=1>
            <div class="subHeading">Overall balance so far this month</div>
        </mat-grid-tile>

    </mat-grid-list>

</mat-card>
