<mat-card class="costCard">

    <mat-grid-list cols="3" rowHeight="36px">
        
        <mat-grid-tile colspan=2>
            <div class="cardTitle">
                <h2>Zones</h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <img src="assets/img/sterling.svg" height="32px">
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="subHeading">Lights </div>

        </mat-grid-tile>

        <mat-grid-tile class="arrowTile" colspan=1 rowspan=1>
            
            <div class="down">
                <mat-icon [inline]="true">arrow_downward</mat-icon>
            </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="subHeading">{{this.testVar3.lights_today}} </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="subHeading">Kitchen </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="up">
                <mat-icon [inline]="true">arrow_upward</mat-icon>
            </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="subHeading">{{this.testVar3.kitchen_today}}</div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="subHeading">AC </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="down">
                <mat-icon [inline]="true">arrow_downward</mat-icon>
            </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="subHeading">{{this.testVar3.ac_today}}</div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="subHeading">MB Ports</div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="up">
                <mat-icon [inline]="true">arrow_upward</mat-icon>
            </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            
            <div class="subHeading">{{this.testVar3.sockets_today}}</div>

        </mat-grid-tile>

    </mat-grid-list>

    <mat-grid-list cols="4" rowHeight="36px">
        
        <mat-grid-tile colspan=4>
            <div class="cardTitle">
                <h3>Instantaneous Readings</h3>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="subHeading">
                Solar
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="wattUnit">
                {{this.testVar3.solar_now}}
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="subHeading">
                Property
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="wattUnit">
                {{this.testVar3.property_instant}}
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="subHeading">
                House
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="wattUnit">
                {{this.testVar3.house_instant}}
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="subHeading">
                Office
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <div class="wattUnit">
                {{this.testVar3.office_now}}
            </div>
        </mat-grid-tile>


    </mat-grid-list>

</mat-card>
