<mat-card class="costCard">

    <mat-grid-list cols="3" rowHeight="36px">
        
        <mat-grid-tile colspan=2>
            <div class="cardTitle">
                <h2>Zones</h2>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <img src="assets/img/sterling.svg" height="32px">
        </mat-grid-tile>
        <mat-grid-tile colspan=3 rowspan=1>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">Lights </div>
        </mat-grid-tile>

        <mat-grid-tile class="arrowTile" colspan=1 rowspan=1>
            <div class="down">
                <mat-icon [inline]="true">arrow_downward</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading"> £{{ lightCost }}</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">Kitchen </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="up">
                <mat-icon [inline]="true">arrow_upward</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">£{{ kitchenCost }}</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">AC </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="down">
                <mat-icon [inline]="true">arrow_downward</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">£{{ acCost }}</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">MB Ports</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="up">
                <mat-icon [inline]="true">arrow_upward</mat-icon>
            </div>

        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">£{{ mbportCost }}</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">Electrack</div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="up">
                <mat-icon [inline]="true">arrow_upward</mat-icon>
            </div>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <div class="subHeading">£{{ electrakCost }}</div>
        </mat-grid-tile>
    </mat-grid-list>
</mat-card>
