<mat-card class="exampleCard">

    <mat-grid-list cols="2" rowHeight="30px">
        
        <mat-grid-tile colspan=1 rowspan=1>

            
                <h2>Daily Power Map</h2>
            
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <img src="assets/img/map.svg" height="30px">
        </mat-grid-tile>


        <mat-grid-tile colspan=2 rowspan=7>
            <mat-card class="graphCard">
                <img class="graph" src="assets/img/heatGraph.PNG">
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=2 rowspan=3>
                <img class="slide" src="assets/img/heatSlider.PNG">
        </mat-grid-tile>
                
    </mat-grid-list>

</mat-card>
