<mat-card class="exampleCard">

    <mat-grid-list cols="2" rowHeight="40px">
        
        <mat-grid-tile colspan=1 rowspan=1>

            
                <h2>Daily Power Map</h2>
            
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=1>
            <img src="assets/img/map.svg" height="30px">
        </mat-grid-tile>


        <mat-grid-tile colspan=2 rowspan=7>
                <fusioncharts
                width="400"
                height="250"
                [type]="type"
                [dataFormat]="dataFormat"
                [dataSource]="dataSource"
                >
                </fusioncharts>
        </mat-grid-tile>
                
    </mat-grid-list>

</mat-card>
