<mat-card class="exampleCard">

    <mat-grid-list cols="2" rowHeight="34px">
        
        <mat-grid-tile colspan=1>

            
                <h2>Overall Breakdown</h2>
            
        </mat-grid-tile>

        <mat-grid-tile colspan=1>
            <img src="assets/img/power.svg" height="34px">
        </mat-grid-tile>

        <mat-grid-tile class="tile" colspan=1 rowspan=2>
            <mat-card class="miniCard">
                <div class="greenHighlight">{{this.testVar3.power_now}} / £{{this.costnow}}</div>
                
                <div class="subHeading">Current usage</div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=4>
            
                <app-dial2></app-dial2>
            
        </mat-grid-tile>

        <mat-grid-tile colspan=1 rowspan=2>
            <mat-card class="miniCard">
                <div class="redHighlight">0 kWh / £0.00</div>
                
                <div class="subHeading">Grid balance</div>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan=2>
            <mat-card class="miniCard">
            <div class="nonstandardHighlight">{{this.testVar3.power_today}} / {{this.testVar3.tarrif_cost_total}}</div>
            
            <div class="subHeading">Today</div>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan=2>
            <mat-card class="miniCard">
            <div class="nonstandardHighlight">{{this.testVar3.projected_thisweek}} / {{this.testVar3.projectedcost_thisweek}}</div>
            
            <div class="subHeading">Projected this Week</div>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan=2>
            <mat-card class="miniCard">
            <div class="nonstandardHighlight">{{this.testVar3.power_thisweek}} / £{{this.newcosts}}</div>
            
            <div class="subHeading">So far this week</div>
        </mat-card>
        </mat-grid-tile>

        <mat-grid-tile rowspan=2>
            <mat-card class="miniCard">
            <div class="nonstandardHighlight">{{this.testVar3.projected_thismonth}} / {{this.testVar3.costprojected_thismonth}}</div>
            
            <div class="subHeading">Projected this month</div>
        </mat-card>
        </mat-grid-tile>
        
    </mat-grid-list>

</mat-card>
